include /_mixins.jade

doctype html
html(lang="en-US")
  head
    title Trello
    meta(charset="UTF-8")
    link(href="https://code.jquery.com/ui/1.10.2/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" rel="stylesheet" type="text/css")
    +stylesheet_link_tag("main")
    +stylesheet_link_tag("dragula.min")
    
    
  body
    header
      input(type="search")
      a(class="logo" href="/")
        img(src="images/header-logo.png" alt="company_logo")
      a(class="notifications" href="#")
        img(src="images/notification_bell.png" alt="notifications")
    main
      block content
    
    +javascript_include_tag("vendor/all")
    script(src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js")
    +javascript_include_tag("handlebars_templates")
    +javascript_include_tag("application")
    +javascript_include_tag("router")
    +javascript_include_tag("models/board", "models/list", "models/card", "models/comment", "models/label", "models/notification")
    +javascript_include_tag("collections/lists", "collections/cards", "collections/comments", "collections/labels", "collections/notifications")
    +javascript_include_tag("views/board_view", "views/lists_view", "views/list_view", "views/cards_view", "views/card_view", "views/notifications_view")
    +javascript_include_tag("views/copy", "views/card_modal", "views/labels_view", "views/comment_view", "views/comments_view", "views/search")
    script(type="text/javascript").
      App.board = new Board(!{JSON.stringify(board)});
      App.lists = new Lists(!{JSON.stringify(lists)});
      App.cards = new Cards(!{JSON.stringify(cards)});
      App.comments = new Comments(!{JSON.stringify(comments)});
    script App.init();

include /_mixins.jade

