<div class="title_container">
  <h1><span class="title">{{title}}</span></h1>
  <div class="title_popup">
    <h2>Rename Board</h2>
    <form class="rename_board">
      <label>Name</label>
      <input type="text" />
      <button type="submit">Rename</button>
    </form>
  </div>
</div>
<div class="lists_container">
  <ul id="lists">
  </ul>
  <form class="add_list">
    <input type="text" placeholder="Add a list..." />
  </form>
</div>


