{{#if labels}}
  <div class="labels">
    {{#each labels}}
      <div class="label min id{{this}}"></div>
    {{/each}}
  </div>
{{/if}}
<p class="title">{{title}}</p>
{{#if subscribed}}
  <div class="subscribed"></div>
{{/if}}
{{#if due_date}}
  <div class="due_date" title="Due Date"><img src="images/clock.png" alt="Due"/> {{due_date}}</div>
{{/if}}
{{#if description}}
  <div class="description" title="This card has a description"><img src="images/description.png" alt="Description"/></div>
{{/if}}
{{#if comments.length}}
  <div class="comments" title="Comments"><img src="images/comment.png" alt="Comments"/> {{comments.length}}</div>
{{/if}}