{{#if labels}}
  <div class="labels">
    {{#each labels}}
      <div class="label min id{{this}}"></div>
    {{/each}}
  </div>
{{/if}}
<p class="title">{{title}}</p>
{{#if subscribed}}
  <div class="subscribed"></div>
{{/if}}
{{#if due_date}}
  <div class="due_date">{{due_date}}</div>
{{/if}}
{{#if description}}
  <div class="description"></div>
{{/if}}
{{#if comments}}
  <div class="comments">{{total}}</div>
{{/if}}