<h2 class="list_title">{{title}}<img class="trash" src="images/trash.png" alt="delete" /></h2>
<form class="list_title" method="post" action="/lists/:id">
  <input type="text" />
</form>
<ul class="cards" data-list_id={{id}}>
</ul>
<div class="add_card container">
  <div class="add_card display">
    <a class="add_card" href="#">Add a card...</a>
  </div>
  <div class="add_card action">
    <form method="post" action="/lists" class="add_card">
      <textarea></textarea>
      <button class="btn add_card" type="submit">Add</button>
      <span class="x_close">X</span>
    </form>
  </div>
</div>
  