@import "whitespace-reset-modified.css";

header {
  /*background: #026aa7;*/
  background: rgba(0, 0, 0, .15);
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 174, 204);
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

input[type="search"] {
  width: 180px;
  height: 30px;
  border-radius: 3px;
  border: none;
  vertical-align: top;
  padding: 5px;
  transition: width 150ms;
  background: rgba(255, 255, 255, .3) url("../images/search.png") no-repeat 95%;
  background-size: 20px 20px;
  cursor: pointer;
}

input[type="search"]:focus {
  background: #ffffff;
  width: 280px;
  transition: width 150ms;
}

input[type="search"]:hover {
  background: rgba(255, 255, 255, .4) url("../images/search.png") no-repeat 95%;
  background-size: 20px 20px;
}

input[type="search"]:hover:focus {
  background: #ffffff;
  width: 280px;
}

a.logo {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -90px;
}

.title_container {
  position: relative;
}

h1 {
  margin: 0 0 0 10px;
  padding: 8px 4px;
  font-size: 1.5em;
  box-sizing: border-box;
}

h1 .title {
  color: #ffffff;
  cursor: pointer;
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
}


h1 .title:hover {
  background: rgba(0, 0, 0, .12);
}

.title_popup {
  position: absolute;
  left: 8px;
  top: 50px;
  display: none;
  width: 300px;
  z-index: 30;
  background: #ffffff;
  padding: 8px;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
}

.title_popup h2 {
  text-align: center;
  padding: 2px 0 10px;
  border-bottom: 1px solid #d6dadc;
  color: #8c8c8c;
  font-weight: normal;
  font-size: 1em;
}

.title_popup label {
  padding: 5px 0;
  display: block;
  font-weight: bold;
  color: #4d4d4d;
}

.title_popup input {
  display: block;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #cdd2d4;
  background-color: #e2e4e6;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  color: #4d4d4d;
}

.btn {
  padding: 10px 30px;
  background: linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%);
  box-shadow: 0 1px 0 #3f6F21;
  color: #ffffff;
  margin: 8px 4px 0 0;
  border: none;
  font-weight: 700;
  font-size: 1.05em;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background: linear-gradient(to bottom, #5AAC44 0, #519839 100%);
}

h2 {
  font-size: 1.2em;
  color: #4d4d4d;
  padding: 0 3px 5px 3px;
}

.lists_container {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  padding-bottom: 10px;
}

/*.lists_container::-webkit-scrollbar {*/
/*  height: 9px;*/
/*  width: 9px;*/
/*  position: fixed;*/
/*  bottom: 8px;*/
/*}*/

/*.lists_container::-webkit-scrollbar-track-piece {*/
/*  background: #D6DADC;*/
/*}*/

#lists {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

#lists > li {
  vertical-align: top;
  display: inline-block;
  background: #E2E4E6;
  width: 270px;
  margin: 0 5px 5px 5px;
  padding: 8px 4px 0 4px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
}

form.list_title {
  display: none;
}

form.list_title input {
  border-radius: 3px;
  height: 25px;
  width: 100%;
  color: #8d8d8d;
  padding: 4px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 6px;
}

.add_list.container {
  width: 270px;
  margin-left: 5px;
}

.add_list {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
}

.add_list.display {
  width: 270px;
}

.add_list.action input {
  background: rgba(0, 0, 0, .05);
  border-color: #aaaaaa;
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #cdd2d4;
  color: #4d4d4d;
}

.add_list.action {
  background: #E2E4E6;
  width: 270px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px;
}

.add_list input {
  display: block;
  height: 40px;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, .15);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}

.add_list.action input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #4d4d4d;
}
.add_list.action input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #4d4d4d;
   opacity:  1;
}
.add_list.action input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #4d4d4d;
   opacity:  1;
}
.add_list.action input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #4d4d4d;
}



.add_list input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255, 255, 255, .7);
}
.add_list input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255, 255, 255, .7);
   opacity:  1;
}
.add_list input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255, 255, 255, .7);
   opacity:  1;
}
.add_list input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(255, 255, 255, .7);
}

.add_list.display input:hover {
  background: rgba(0, 0, 0, .3);
}

.add_list.action {
  display: none;
}

ul.cards {
  min-height: 10px;
}

.cards li {
  background: #ffffff;
  min-height: 35px;
  padding: 8px 6px 4px 6px;
  margin: 0 0 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}

.cards li:hover {
  background: #edeff0;
}

.modal_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 5;
}

.card_modal:after {
  display: block;
  content: "";
  clear: both;
}

.card_modal {
  background: #edeff0;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  width: 730px;
  top: 40px;
  left: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.card_modal article {
  float: left;
  width: 550px;
  box-sizing: border-box;
}

.card_modal a {
  text-decoration: underline;
  color: #8c8c8c;
}

.card_modal aside {
  float: right;
  width: 140px;
  position: relative;
}

.card_modal p {
  color: #8c8c8c;
  margin: 0 0 25px 0;
}

.card_modal p.description {
  color: #4d4d4d;
  padding: 10px 0;
}

.card_modal p.link {
  margin: 0;
}

.card_modal textarea {
  padding: 6px;
  display: block;
  border-radius: 3px;
  width: 100%;
  height: 60px;
  line-height: 40px;
  border: none;
  color: #4d4d4d;
  font: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .33);
  margin: 10px 0;
  box-sizing: border-box;
}

.card_modal textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #8c8c8c;
}
.card_modal textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #8c8c8c;
  opacity:  1;
}
.card_modal textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #8c8c8c;
  opacity:  1;
}
.card_modal textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8c8c8c;
}

.card_modal .edit {
  padding: 0 0 0 20px;
  display: inline-block;
}

.card_modal aside a {
  text-decoration: none;
  padding: 7px;
  border: 1px solid #e2e4e6;
  cursor: pointer;
  display: block;
  height: 34px;
  margin-top: 6px;
  background: linear-gradient(to bottom, #ffffff 0, #f8f9f9 100%);
  box-sizing: border-box;
  font-weight: 700;
  color: #444444;
  border-radius: 3px;
}

.card_modal aside a:hover {
  background: #298FCA;
  border-bottom: 1px solid #026AA7;
  color: #ffffff;
}

.card_modal .btn {
  padding: 8px 16px;
}

.card_modal ul {
  margin-bottom: 15px;
}

h3 {
  color: #444444;
  padding: 7px 0;
  font-size: 1.2em;
}

.modal_container > a {
  position: absolute;
  text-indent: -9999px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.modal_container .main_container:after {
  display: block;
  content: "";
  clear: both;
}

.add_card.action textarea {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  font: inherit;
  padding: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.add_card.action {
  display: none;
  margin: 0 0 6px 0;
}

.add_card.btn {
  padding: 8px 16px;
}

.add_card.display {
  height: 35px;
  padding: 10px 5px 0 5px;
  box-sizing: border-box;
}

.add_card.display:hover {
  background: #cdd2d4;
}

.add_card.display:hover > a {
  text-decoration: underline;
  color: #4d4d4d;
}

.add_card a {
  text-decoration: none;
  color: #8c8c8c;
}

.edit_description.action textarea {
  display: block;
  width: 100%;
  height: 100px;
  border-radius: 3px;
  font: inherit;
  padding: 5px;
  box-sizing: border-box;
  resize: vertical;
  background: rgba(0, 0, 0, .03);
  border-color: rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, .1);
  color: #4d4d4d;
}

.edit_description.action {
  display: none;
  margin: 0 0 6px 0;
}

.edit_description.btn {
  padding: 8px 16px;
}

.edit_description.display {
  min-height: 35px;
  padding: 10px 5px 0 5px;
  box-sizing: border-box;
}


.date_popup {
  position: absolute;
  left: -40px;
  top: 120px;
  display: none;
  width: 300px;
  z-index: 30;
  background: #ffffff;
  padding: 8px;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
}

.date_popup h2 {
  text-align: center;
  padding: 2px 0 10px;
  border-bottom: 1px solid #d6dadc;
  color: #8c8c8c;
  font-weight: normal;
  font-size: 1em;
}

.date_popup label {
  padding: 5px 0;
  display: block;
  font-weight: bold;
  color: #4d4d4d;
}

.date_popup input {
  display: block;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #cdd2d4;
  background-color: #e2e4e6;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  color: #4d4d4d;
}

.date_popup .btn.save {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.date_popup .btn.remove {
  float: right;
  color: #B04632;
  background: linear-gradient(to bottom, #D6DADC 0, #CDD2D4 100%);
}

.date_popup .btn.remove:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #cf513d 0, #b04632 100%);
}

.ui-widget-header {
    background: #ffffff;
    color: #4d4d4d;
    border: none;
}

.card .title {
  margin-bottom: 4px;
}

.labels:after {
  display: block;
  content: "";
  clear: both;
}

.labels {
  margin-bottom: 2px;
}

.label.min {
  float: left;
  height: 8px;
  padding: 0;
  width: 42px;
  margin: 0 3px 3px 0;
  border-radius: 3px;
}

.label.yellow, .label.min.id1 {
  background: #F2D600;
}

.label.green, .label.min.id0 {
  background: #61BD4F;
}

.label.orange, .label.min.id2 {
  background: #FFAB4A;
}

.label.red, .label.min.id3 {
  background: #EB5A46;
}

.label.purple, .label.min.id4 {
  background: #C377E0;
}

.label.blue, .label.min.id5 {
  background: #0079BF;
}

.ui-datepicker-next, .ui-datepicker-prev {
  background: #eeeeee;
}

.labels_main {
  
}

.labels_popup {
  position: absolute;
  left: -40px;
  top: 80px;
  /*display: none;*/
  width: 300px;
  z-index: 30;
  background: #ffffff;
  padding: 8px;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
}

.labels_popup h2 {
  text-align: center;
  padding: 2px 0 10px;
  border-bottom: 1px solid #d6dadc;
  color: #8c8c8c;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 8px;
}

.labels_popup input {
  display: block;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #cdd2d4;
  background-color: #e2e4e6;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  color: #4d4d4d;
}

.x_close {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.labels_main ul {
  margin-right: 50px;
}

.labels_main li {
  width: 100%;
  margin: 0 0px 4px 0;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}

.labels_main li:hover {
  
}

.labels_main .selected img {
  display: none;
}

.labels_main .selected img.selected {
  display: inline-block;
}

.card_modal .labels_main a {
  background: #ffffff;
  text-decoration: underline;
  color: #8c8c8c;
  font-weight: normal;
}

.card_modal .labels_main a:hover {
  background: #D6DADC;
  color: #4d4d4d;
}

.labels_main li img {
  width: 12px;
  float: right;
}

.labels_main li span {
  width: 100%;
  display: inline-block;
}

#comments li a {
  display: inline-block;
  margin-right: 8px;
}

.btn.submit_comment {
  margin-bottom: 25px;
}

#comments p {
  padding: 8px;
  background: #ffffff;
  color: #4d4d4d;
  border-radius: 3px;
  margin-bottom: 10px;
}

.edit_comment_popup {
  display: none;
}

.x_close.comment, .x_close.description {
  float: none;
  font-size: 1.3em;
  color: #999999;
  padding-left: 10px;
}

.copyContainer {
  position: absolute;
  left: 0px;
  top: 250px;
  /*display: none;*/
  width: 300px;
  z-index: 30;
  background: #ffffff;
  padding: 8px;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
}

.copyContainer label {
  display: block;
  font-weight: bold;
}

.copyContainer select {
  display: inline-block;
  margin-bottom: 4px;
}

.copyContainer .boards {
  width: 100%;
}

.copyContainer .lists {
  width: 65%;
  margin-right: 2%
}

.copyContainer .positions {
  width: 33%;
}

.copyContainer h2 {
  text-align: center;
  padding: 2px 0 10px;
  border-bottom: 1px solid #d6dadc;
  color: #8c8c8c;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 8px;
}

.card_modal .actions .subscribe.true {
  background: #61BD4F url('/images/check-mark.png') 75% 40% no-repeat;
  background-size: 16px;
}


.change_card_title {
  display: none;
}

.change_card_title input {
  font-size: 1.2em;
  width: 100%;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
  color: #4d4d4d;
}